# ===== BACKEND =====
backend/target/
backend/.idea/
backend/classpath.txt
backend/*.class


backend/.env

# ===== FRONTEND =====
nexus-frontend/node_modules/
nexus-frontend/dist/

# ===== OS =====
.DS_Store
Thumbs.db
# Local Netlify folder
.netlify
