# ===== BACKEND =====
backend/target/
backend/.idea/
backend/classpath.txt
backend/*.class


backend/.env
backend/src/main/resources/application-dev.properties
backend/src/main/resources/application-prod.properties

# ===== FRONTEND =====
nexus-frontend/node_modules/
nexus-frontend/dist/

# ===== OS =====
.DS_Store
Thumbs.db